<% provide(:title, "About") %>

<h1>关于</h1>
<p>
  <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
  是一本关于用
  <a href="http://rubyonrails.org/">Ruby on Rails</a>
  来开发网页应用
  <a href="http://www.railstutorial.org/book">书</a>
  和
  <a href="http://screencasts.railstutorial.org/">系列视频</a>
  教程。 这个网站就是这本书的简单应用。
</p>