<% provide(:title, "Help") %>

<h1>帮助</h1>
<p>
  您可以从
  <a href="http://www.railstutorial.org/#help">Rails Tutorial 帮助页面</a>
  获取rails教程的帮助。 如果想了解这个简单应用的的具体信息，请点击
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> book</a>.
</p>